<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet"><!-- Bootstrap CSS -->
  <link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/adminstyle.css">
  <link rel="shortcut icon" href="/images/fav.ico">
  <title>Admin</title>
  <script src="https://ajax.googleapis.com/libs/jquery/1.12.4/jquery.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark">
    <div class="container-fluid">
      <img class="logo" src="/images/ecomLogo.png" alt="">
      <a class="navbar-brand mn">Metro Medical</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/admin/pages">Pages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/categories">Categories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/products">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/orders">Orders</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/../" class="btn btn-success cred">Userarea</a> </li>
          <li><a href="/users/logout" class="btn btn-success cred">Logout</a> </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <%- messages('messages', locals) %>

<% if(errors) { %>
  <% errors.forEach(error => {%>
    <div class="alert alert-danger">
      <%= error.msg %>
    </div>
  <%})%>
<%}%>
