<%- include('_layouts/header') %>

<h1 class="srf"><%= title %></h1>
<form class="row g-3" action="/users/login" method="post">

  <div class="form-group">
    <label class="form-label">Username</label>
    <input type="text" name="username" class="form-control" placeholder="Username" value="">
  </div>
  <div class="form-group">
    <label class="form-label">Password</label>
    <input type="password" name="password" class="form-control" placeholder="Password" value="">
  </div>

  <div class="col-12">
    <button class="btn btn-success" type="submit">Login</button>
  </div>
</form>

<%- include('_layouts/footer') %>
