nav {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,128,128,1) 35%, rgba(0,212,255,1) 100%);
  margin-bottom: 1.5rem;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

a {
  color: #008080;
}

table {
  border: solid 1px;
}

.sorting tr:not(.home) {
  cursor: pointer;
}

.ui-state-hightlight {
  border: 1px dashed #ccc;
}

#imgPreview {
  margin: 1.25rem
}

#noimage {
  width: 6.25rem;
  height: 6.25rem;
}

.allignmiddle {
  vertical-align: middle !important;
  text-align: center;
}

.mn {
  font-family: 'Yeseva One', cursive;
  font-size: 2rem;
}

.srf {
  font-family: 'Kaisei HarunoUmi', serif;
}

.cred {
  width: 6.25rem;
  margin-right: 0.625rem;
  margin-left: 0.625rem;
  background-color: #ffffff;
  color: black;
}

.cred:hover {
  background-color: #22577A;
  color: white;
}

.logo {
  height: 4rem;
  margin-right: 1rem
}

.ftr {
  background-color: #008080;
  color: white;
}

.adminbuttons {
  background-color: #008080;
  color: white;
}

.adminbuttons:hover {
  background-color: #22577A;
  color: white;
}

footer .nav-link{
  color:white;
}
