body {
  font-family: 'Ubuntu', sans-serif;
  padding-bottom: 0;
}

a {
  color: black;
}

.pimage {
  padding-top: 1.5rem;
  width: 9.375rem;
}

.pa {
  display: inline-block;
  height: 10rem;
}

.products {
  margin-top: 0.75rem;
}

.products .p {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.spi {
  width: 25rem;
  padding-left: 5rem;
}

.cpi {
  width: 6.25rem;
}

.allignmiddle {
  vertical-align: middle !important;
  text-align: center;
}

.pp {
  position: absolute;
  left: -187.5rem;
}

.ajaxbg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgbs(255,255,255, .8);
  z-index: 2;
  display: none;
}

.ajaxinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.cred {
  width: 6.25rem;
  margin-right: 0.625rem;
  margin-left: 0.625rem;
  background-color: #ffffff;
  color: black;
}

.cred:hover {
  background-color: #22577A;
  color: white;
}

.alert-error {
  color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}

.navbartop {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  background-color: #0d0d0d;
  margin-bottom: 1rem;
}

.ftr {
  background-color: black;
  color: white;
  padding-bottom: 0;
  margin-bottom: 0;
}

.mn {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
}

.srf {
  font-family: 'Roboto', sans-serif;
}

.logo {
  height: 4rem;
  margin-right: 1rem
}

.card {
  margin-top: 0.75rem;
  transition: transform .3s;
}

.cttl {
  height: 5rem;
}

.credmain {
  background-color: #008080;
  color: white;
  width: 6.25rem;
}

.credmain:hover {
  background-color: #22577A;
  color: white;
}

.cardshad {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cardshad img {
  transition: 1s ease;
}

.cardshad img:hover {
  -webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
transition: 1s ease;
}

.sidebar  {
  background-color: #008080;
  color: white;
}

.sidebar a {
  color: white;
}

.sidebar a:hover {
  color: #22577A;
}

.vdatcli {
  line-height: 2;
}

.btn-atc {
  background: black;
  color: white;
  height: 3rem;
  font-size: 1.1rem;
  vertical-align: middle;
  align-self: center;
  margin-top: 0.5rem;
}

.btn-atc:hover {
  background: #22577A;
  color: white;
  vertical-align: middle;
}

.card-body {
  margin-top: 1rem;
}

.itp {
 color: #77e4d4;
}

.list-group {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

footer .nav-link{
  color:white;
}

.login {
  width: 20rem;
  align-self: center;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}



/* TABS */

h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}



/* FORM TYPOGRAPHY*/

input[type=button], input[type=submit], input[type=reset]  {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
  background-color: #39ace7;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type=text] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type=text]:placeholder {
  color: #cccccc;
}



/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
}



/* OTHERS */

*:focus {
    outline: none;
} 

#icon {
  width:60%;
}

.login-submit-button{
  width: 24rem;
  margin: 1.5rem 0;
}

.category-list{
  margin-top: 1.5rem;
}

.payform {
  width:40rem;
  text-align: center;
}

.payform input {
  width: 20rem;
}

.payform button {
  width:10rem;
}